# Rust
/target/
**/*.rs.bk
Cargo.lock
/data/

# TypeScript
node_modules/
dist/
build/
*.js.map
*.d.ts
!services/chat/web/src/vite-env.d.ts
!services/payme/frontend/src/vite-env.d.ts
tsconfig.tsbuildinfo
.tsbuildinfo
