use_default_settings: true

general:
  instance_name: "rafael search"

search:
  formats:
    - html
    - json

server:
  bind_address: "0.0.0.0"
  port: 8080
  base_url: "http://127.0.0.1:8888/"
  secret_key: "CHANGE_ME_WITH_OPENSSL_RAND_HEX_32"
  limiter: false
  image_proxy: false

ui:
  static_use_hash: true
